/*http://brand.darden.virginia.edu/color/

darden blue: #235281
darden orange: #CF7800

secondary colors
greenish blue: 007681
maroon: 9e2a2b
yellowish green: a8ad00
yellowish orange: eaaa00
neutral colors
gray: a2aaad
grayish blue: 5b7f95 / lighter shade: adc1cd; http://www.colorhexa.com/5b7f95
dark brown: 7a6855
grayish light brown: cccc99*/

@media (max-width: 480px) {
  header h1 {
    font-size: 50px !important;
  }
  header h2 {
    font-size: 30px !important;
  }

}
.units-container {
  max-width: 1100px !important;
  margin: 0 auto;
}

.logo {
  padding-left: 1.9em;
}
header {
  background-color: #eaeff2;

}
.back-img {
  background-color: #eaeff2;
  background: url("../img/rotunda_sketch_angled.jpg");
}
#nav1 {
  margin-bottom: 0;
}
header .title {
  font-family: 'roboto slab', serif;
  color: #235281;
  font-weight: normal;
  padding-top: 40px;
  font-size: 65px;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
header .title2 {
  color: #235281;
  font-family: "roboto slab";
  font-weight: normal;
  font-size: 35px;
  line-height: 1.25em;
}
body {
  font-family: 'open sans';
}
/*shadow-para {
  padding: 30px;
  border-left: 2px solid #7f7664;
  background-color: #f5f4f2;
  line-height: 32px;
  box-shadow: 5px 5px 0px 0px rgba(127, 118, 100, 0.2);
  position: relative;
}*/

.first-para:first-letter {
  font-size: 92px;
  float: left;
  padding: 20px;
  font-family: "roboto slab", serif;
  color: white;
  background-color: #CF7800;
  margin-right: 10px;
  border-radius: 5px;
  line-height: 70px;
}
.last-para:first-letter {
  font-size: 92px;
  float: left;
  padding: 20px;
  font-family: "roboto slab", serif;
  color: white;
  background-color: #235281;
  margin-right: 10px;
  border-radius: 5px;
  line-height: 70px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto slab', serif !important;
  color: #235281;
  font-weight: normal;
  /*font-weight: bold;*/
}

blockquote {
  font-family: "times new roman";
  font-family: "georgia";
  font-size: 20px;
}

aside {
  /*font-size: 13px;*/
}

.align-right {
  text-align: right;
}

.nopadding {
  padding: 0;
}

.foot {
  background-color: #eaeff2;
}

.chart-instruction {
  font-size: 17px;
  color: #007681;
}
.table-header {
  font-size: 18px;
  color: #5b7f95;
}