/*http://webstandards.virginia.edu/graphic-standards
http://brand.darden.virginia.edu/color/
uva tan: #F1EEDE
uva light blue #003882
uva dark blue: #002654
uva orange: #F36F21
darden blue: #235281
darden orange: #CF7800*/

@media (max-width: 480px) {
  header h1 {
    font-size: 40px !important;
  }
  header p {
    font-size: 30px !important;
  }
}
.units-container {
  max-width: 1100px;
  margin: 0 auto;
}
header {
  background-color: #E6E7E8;
  background: url("../img/rotunda_angled_filter.jpg");
  /*margin-bottom: 10px;*/
}
#nav1 {
  margin-bottom: 0;
}
header h1 {
  /*text-transform: uppercase;*/
  text-align: center;
  color: white;
  text-shadow: -1px -1px black, 0 0 black;
  stroke-width: 2px;
  stroke: black;
  font-size: 80px;
  line-height: 1.5em;
}
.header-p {
  text-align: center;
  color: white;
  font-family: "roboto slab", serif;
  font-size: 45px;
  line-height: 1.25em;
  margin-bottom: 0;
}
body {
  font-family: 'open sans';
}
/*shadow-para {
  padding: 30px;
  border-left: 2px solid #7f7664;
  background-color: #f5f4f2;
  line-height: 32px;
  box-shadow: 5px 5px 0px 0px rgba(127, 118, 100, 0.2);
  position: relative;
}*/

.first-para:first-letter {
  font-size: 72px;
  float: left;
  padding: 10px;
  height: 64px;
  font-family: "roboto slab", serif;
  color: white;
  background-color: #F59A2C;
  /* color: #0D3268; */

  margin-right: 10px;
  border-radius: 5px;
  line-height: 70px;
}
h1 {
  font-family: 'roboto slab', serif !important;
  color: #0D3268;
  font-weight: normal;
}
.bg-blue {
  background-color: #0D3268;
}
.fg-blue {
  color: #0D3268;
}
.fg-white {
  color: white;
}
.bg-orange {
  background-color: #F59A2C;
}
