/*http://brand.darden.virginia.edu/color/
darden blue: #235281
darden orange: #CF7800

secondary colors
greenish blue: 007681
maroon: 9e2a2b
yellowish green: a8ad00
yellowish orange: eaaa00

neutral colors
gray: a2aaad
grayish blue: 5b7f95
dark brown: 7a6855
grayish light brown: cccc99*/

.extrap {
  /*fill: #cccc99;*/
  stroke: url(#gradient);
  stroke-width: 6;
}

.outstate_line {
    stroke: #235281;
    stroke-opacity: 0.3;
    stroke-linecap: round;
    marker-start: url(../outstate_va.html#markerArrow);
}

.center {
  margin: 0 auto;
}

.decade_small_bar {
  fill: #5b7f95;
  opacity: 0.3;
}
.decade_bar {
  fill: #5b7f95;
}

.bar text {
    fill: white;
    font: 10px sans-serif;
    /*text-anchor: middle;*/
}
.ent {
    fill: #235281;
}
.nent {
    fill: #adc1cd;
}

/*~~~~~~~~~~~~~~~axis~~~~~~~~~~~~~~~~~~~*/
.x.axis text {
    font-size: 13px;
}
.y.axis text {
    font-size: 13px;
}
.axis path, .axis line {
    fill: none;
    stroke-width: 1px;
    stroke: #a2aaad;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.axis-label {
    text-anchor: middle;
    font-size: 13px;
}
/*~~~~~~~~~~~~~~~map~~~~~~~~~~~~~~~~~~~*/

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
/*~~~~~~~~~~~~~~~tool tip~~~~~~~~~~~~~~~~~~~*/

.map-tooltip {
    line-height: 1;
    font-size: 11px;
    padding: 8px;
    background: #F1EEDE;
    color: black;
    border-radius: 2px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.text-on-area, .text-on-bar {
    font-size: 10px;
    color: black;
}
.area {
    opacity: 0.9;
}
.ent-area {
    fill: #adc1cd;
}
.nent-area {
    fill: #cccc99;
}
/*~~~~~~~~~~~~~~~map~~~~~~~~~~~~~~~~~~~*/

.state,
.country {
    fill: #adc1cd;
    opacity: 0.3;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.state:hover,
.country:hover {
    fill: white;
    opacity: .7;
}
.map-circle {
    fill: orange;
    opacity: 0.6;
    stroke: black;
    stroke-width: .2px;
}

.map-container {
  fill: #235281;
  /*stroke: blue;
  stroke-width: 5;*/
}
/*~~~~~~~~~~~~~~~map~~~~~~~~~~~~~~~~~~~*/