<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>

	<directoryBrowse enabled="false" />
	<validation validateIntegratedModeConfiguration="false" />


	<urlCompression doStaticCompression="true" doDynamicCompression="true" />
	<staticContent>
	  <!-- Set expire headers to 30 days for static content-->
	  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
	  <!-- use utf-8 encoding for anything served text/plain or text/html -->
    <remove fileExtension=".csv" />
    <mimeMap fileExtension=".csv" mimeType="text/csv" />
	  <remove fileExtension=".css" />
	  <mimeMap fileExtension=".css" mimeType="text/css" />
	  <remove fileExtension=".js" />
	  <mimeMap fileExtension=".js" mimeType="application/javascript" />
	  <remove fileExtension=".json" />
	  <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
	  <remove fileExtension=".html" />
	  <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />

	  <!-- Assorted types -->
	  <remove fileExtension=".ico" />
	  <mimeMap fileExtension=".ico" mimeType="image/x-icon" />

	</staticContent>

<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
  <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
    <staticTypes>
    <add mimeType="text/*" enabled="true" />
    <add mimeType="message/*" enabled="true" />
    <add mimeType="application/javascript" enabled="true" />
    <add mimeType="application/json" enabled="true" />
    <add mimeType="*/*" enabled="false" />
    </staticTypes>
  </httpCompression>


	<httpProtocol>
	  <customHeaders>

		<!--#### SECURITY Related Headers ###
			More information: https://www.owasp.org/index.php/List_of_useful_HTTP_headers
		-->

 <!--                # Access-Control-Allow-Origin
                The 'Access Control Allow Origin' HTTP header is used to control which
                sites are allowed to bypass same origin policies and send cross-origin requests.

                Secure configuration: Either do not set this header, or return the 'Access-Control-Allow-Origin'
                header restricting it to only a trusted set of sites.
                http://enable-cors.org/
  -->
                <add name="Access-Control-Allow-Origin" value="*" />


		<!--
                # Cache-Control
                The 'Cache-Control' response header controls how pages can be cached
                either by proxies or the users browser.
                This response header can provide enhanced privacy by not caching
                sensitive pages in the users browser cache.

                <add name="Cache-Control" value="no-store, no-cache"/>
                -->



		<!--
                Force the latest IE version, in various cases when it may fall back to IE7 mode
                github.com/rails/rails/commit/123eb25#commitcomment-118920
                Use ChromeFrame if it's installed for a better experience for the poor IE folk
                -->
		<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

	  </customHeaders>
	</httpProtocol>

  </system.webServer>
</configuration>